* {
    box-sizing: border-box;
}
/* System Fonts with system-ui */
html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 62.5%;
}
body {
    /* font-size: 1.6rem; */
    font-family: "Poppins", sans-serif;
}
/* common */
.content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
.btn {
    min-width: 144px;
    padding: 11px 12px;
    background: #171100;
    border-radius: 24.5px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    text-align: center;
}

.btn-a {
}
.orion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
}

.orion:hover {
    background: #000 !important;
}
/* ======================= Header ======================= */
.header {
    padding-top: 36px;
    background: #fffcf4;
}

.header .logo {
    margin-right: 512px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #171100;
}

.header .nav li + li {
    margin-left: 42px;
}
.header .nav-item a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.header .home-item a {
    position: relative;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}
.header .home-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.header .btn {
    margin-left: 111px;
}

/* ======================= Hero ======================= */

.hero {
    background: #fffcf4;
    padding-top: 64px;
    padding-bottom: 65px;
}

.hero .content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/* thumb */
.thumb {
    position: relative;
    width: 59.8%;
    height: 685px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.thumb .main-image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.thumb .card {
    background-color: #ffffff;
    padding: 24px 58px 24px 24px;
    position: absolute;
    bottom: 48px;
    left: 300px;
}
.card .desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.card .sub-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.card-item + .card-item {
    margin-top: 14px;
}
.card-item-content {
    margin-left: 16px;
}

.card .card-item:nth-child(1) .orion {
    background: #fff9e8;
}
.card .card-item:nth-child(2) .orion {
    background: #fcefff;
}
.card .card-item:nth-child(3) .orion {
    background: #ebeaff;
}
/* para */

.hero-section_2 {
    width: 40.2%;
    padding-top: 64px;
}

h1 {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.12rem;
    color: #171100;
}

.para-content .h1-desc {
    margin-top: 22px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.para-content .h1-desc-2 {
    margin-top: 48px;
}
.hero .para-content > .row {
    margin-top: 38px;
}

.hero .para-content .btn {
    background: #ffb900;
    border-radius: 32px;
    margin-right: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
    padding: 17px 34px;
}

.hero .playV .orion {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    margin-right: 14px;
    width: 40px;
    height: 40px;
}

.hero .playV span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-number p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.hero-number p + p {
    margin-left: 28px;
}
.hero-number span {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding-right: 8px;
}

/* ======================= Courses ======================= */
.courses {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #e5e5e5;
}

.courses .title h2 {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.courses .h2-desc {
    width: 458px;
    margin-top: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    color: #5f5b53;
}

.course-header.row {
    justify-content: space-between;
}

.courses .navbar.row a {
    border: 1px solid #ffb900;
}

.courses .navbar.row a + a {
    margin-left: 18px;
    background: #ffb900;
}

.courses .row-temp {
    margin-top: 55px;
    width: 100%;
    gap: 30px;
}

/* .temp-col_1 */
.temp-col_1 {
    flex: 1;
}

.image-temp {
    height: 278px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.content-temp {
    background: #ffffff;
    padding: 16px 22px 22px;
    border: 1px solid #e2dfda;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.header-temp {
    justify-content: space-between;
}
.header-temp .sub-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.header-temp span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.content-temp .desc {
    margin-top: 8px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.footer-temp {
    justify-content: space-between;
    margin-top: 12px;
}

.footer-temp span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.temp-col_1 .btn {
    min-width: 118px;
    border-radius: 25px;
    background: #ffb900;
}
.temp-col_1 .btn:hover {
    background: #000;
    opacity: 0.9;
}
.temp-col_1 .btn a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
}
